# Gradle
.gradle/
build/
**/build/

# Kotlin
.kotlin/

# Android
*.apk
*.aab
*.ap_
*.dex
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
captures/
.externalNativeBuild/
.cxx/

# Logs / OS
*.log
.DS_Store

# Keystore (don't commit signing keys)
*.jks
*.keystore
